# Build artifacts
/build*/
/qml/*.pro.user
*.pyc
/pb_goldibox-00A0.dtbo

# Run artifacts
/rrd/
/var/
*.autosave

# Min install artifacts
/etc/config.yaml

# FreeCAD backups
*.fcstd1

# LibreOffice lock files
.~lock.*#
