[Unit]
Description=Machinekit Autoclave Control
After=syslog.target network.target
Wants=avahi-daemon.service
Wants=dbus.service
Wants=apache2.service

[Service]
Type=simple
ExecStart=/usr/bin/autoclave -c /etc/autoclave/config.yaml
User=@USER@

[Install]
WantedBy=multi-user.target
